aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
anyio==4.3.0
APScheduler==3.10.4
arrow==1.3.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
autopage==0.5.2
Babel==2.14.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
binaryornot==0.4.4
blinker==1.7.0
botocore==1.34.84
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==2.1.1
click==8.1.7
cliff==4.6.0
cmd2==2.4.3
contourpy==1.2.1
cookiecutter==2.1.1
coverage==7.4.4
create-app==0.6.2
cryptography==42.0.5
cycler==0.12.1
dash==2.17.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_daq==0.5.0
dataclasses-json==0.6.6
debtcollector==3.0.0
decorator==5.1.1
distlib==0.3.8
distro==1.9.0
Django==5.0.6
djangorestframework==3.15.1
dnspython==2.6.1
dogpile.cache==1.3.2
eventlet==0.36.1
exceptiongroup==1.2.0
fasteners==0.19
filelock==3.13.4
flake8==6.0.0
Flask==2.2.3
fonttools==4.51.0
freezer==15.0.0
Frozen-Flask==0.18
frozenlist==1.4.1
fsspec==2024.3.1
future==1.0.0
gcloud==0.18.3
gitdb==4.0.11
GitPython==3.1.43
google==3.0.0
googleapis-common-protos==1.63.0
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna==3.7
importlib_metadata==7.1.0
iniconfig==2.0.0
iso8601==2.1.0
itsdangerous==2.1.2
Jinja2==3.1.3
jinja2-time==0.2.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keystoneauth1==5.6.0
kiwisolver==1.4.5
langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-text-splitters==0.2.0
langsmith==0.1.63
latexcodec==3.0.0
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.2
matplotlib==3.8.4
mccabe==0.7.0
mdurl==0.1.2
monty==2024.4.17
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio==1.6.0
netaddr==1.2.1
netifaces==0.11.0
networkx==3.3
numpy==1.26.4
oauth2client==4.1.3
openai==1.30.3
openstacksdk==3.0.0
orjson==3.10.3
os-brick==6.7.0
os-client-config==2.1.0
os-service-types==1.7.0
os-win==5.9.0
osc-lib==3.0.1
oslo.concurrency==6.0.0
oslo.config==9.4.0
oslo.context==5.5.0
oslo.i18n==6.3.0
oslo.log==5.5.1
oslo.privsep==3.3.0
oslo.serialization==5.4.0
oslo.service==3.4.0
oslo.utils==7.1.0
packaging==23.2
palettable==3.3.3
pandas==2.2.2
paramiko==3.4.0
Paste==3.9.0
PasteDeploy==3.1.0
pbr==6.0.0
pillow==10.3.0
pinecone-client==4.1.0
platformdirs==4.2.0
plotly==5.22.0
pluggy==1.4.0
prettytable==3.10.0
protobuf==4.25.3
psutil==5.9.8
pyarrow==15.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybtex==0.24.0
pycodestyle==2.10.0
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.8.1b0
pyflakes==3.0.1
Pygments==2.17.2
pymatgen==2024.5.1
pymongo==4.6.3
PyMySQL==1.1.0
PyNaCl==1.5.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyperclip==1.8.2
pytest==7.2.1
pytest-cov==4.0.0
python-cinderclient==9.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-freezerclient==5.2.0
python-glanceclient==4.5.0
python-keystoneclient==5.4.0
python-neutronclient==11.2.0
python-novaclient==18.6.0
python-slugify==8.0.4
python-swiftclient==4.5.0
pytz==2024.1
PyYAML==6.0.1
referencing==0.34.0
repoze.lru==0.7
requests==2.28.1
requestsexceptions==1.4.0
retrying==1.3.4
rfc3986==2.0.0
rich==13.7.1
Routes==2.5.1
rpds-py==0.18.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
spglib==2.4.0
SQLAlchemy==2.0.30
sqlparse==0.5.0
stevedore==5.2.0
streamlit==1.33.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
text-unidecode==1.3
threadpoolctl==3.5.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch==2.2.2
tornado==6.4
tqdm==4.66.4
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==5.2
uncertainties==3.1.7
urllib3==1.26.18
virtualenv==20.25.1
warlock==2.0.1
wcwidth==0.2.13
WebOb==1.8.7
Werkzeug==2.2.2
wrapt==1.16.0
yappi==1.6.0
yarl==1.9.4
zipp==3.19.1
